In [5]:
# 판다스를 이용해서 csv 파일 저장
import pandas as pd

data = [
    [1, "a"],
    [2, "b"],
    [3, "c"]
]

# DataFrame 생성 - DataFrame: 판다스에서 표 데이터 타입.
df = pd.DataFrame(data, columns=["NO", "Title"])
# type(df)
df

   NO Title
0   1     a
1   2     b
2   3     c

In [8]:
# DataFrame을 csv 파일로 저장.
df.to_csv("test.csv", index=False) # test.csv 로 저장. 행번호는 저장 안함.

In [3]:
# csv파일을 DataFrame으로 읽어오기(loading)
import pandas as pd
test_df = pd.read_csv("test.csv")
test_df

   NO Title
0   1     a
1   2     b
2   3     c

In [4]:
# 행 조회 -> 행번호(index) -> DF.iloc[index]
test_df.iloc[0]

NO       1
Title    a
Name: 0, dtype: object

In [6]:
# 열 조회 -> 컬럼명 -> DF["컬럼명"]
test_df["Title"]

0    a
1    b
2    c
Name: Title, dtype: object

In [7]:
for t in test_df["Title"]:
    print(t)

a
b
c