# NLP(Natural Language Processing)

## 자연어
- 사람이 일상적으로 사용하는 언어를 말한다.
    - 어떤 목적을 가지고 사람이 만든 것이 아니라 **자연적으로 만들어진 언어**를 말한다.
- **인공언어**
    - 특정 목적을 위해 사람이 인위적으로 만든 언어로 자연어의 대척점에 있는 언어 개념.
    - 예: 프로그래밍 언어

## 자연어 처리 (NLP)
- 자연어 처리(Natural Language Process)는 컴퓨터가 인간의 언어를 이해하고 분석하는 분야를 말한다.
- 자연어 처리도 오래된 분야인데 딥러닝이 적용되면서 획기적인 발전을 이루었다.     


## NLP 응용 분야
- **텍스트 분류(Text classification)**
   - 입력받은 문장을 분류하는 문제로 대표적으로 감성분석(sementic analysis)가 있다.
   - 감성분석
       -  입력받은 텍스트가 어떤 감정의 글인지를 분류한다. 일반적으로 긍정, 중립, 부정적 인지를 분류한다.
- **Image captioning**
   - 입력받은 이미지를 설명하는 문장을 생성하는 문제.
- **개체명인식(Named Entity Recognition)**
   - 문장의 각 단어가 어떤 종류(의미) 인지를 찾는 문제
   - 미국에 사는 톰은 스무살입니다. ==> 미국: 위치, 톰: 이름, 스므살: 나이
- **품사태깅(Pos tagging)**
   - 문장의 각 토큰의 품사를 찾는 문제
   - 미국에 사는 톰은 스무살입니다. ==> 미국: 대명사, 에: 조사,  톰: 대명사, 은: 조사, 스무: 명사, 살: 명사, 이다: 동사
- **Chatbot**
   - 입력받은 문장에 대한 답을 하는 시스템.
   - Encoder는 질문을 받아 처리하고 Decoder는 답변을 생성하는 seq2seq 구조를 사용한다.
- **Machine translation**
   - 번역 시스템
   - Encoder는 번역 대상문장을 입력받아 처리하고 Decoder는 번역 문장을 생성하는 seq2seq 구조를 사용한다.

# Text to vector

-   자연어 처리(Natural Language Process)는 컴퓨터가 인간의 언어를 이해하고 분석하는 분야를 말한다.
-   자연어 처리를 위해서는 자연어 문장(Text)를 컴퓨터가 이해할 수있는 숫자 집합(Vector)으로 변환해야 한다.
-   머신러닝을 이용해 문제를 해결하는 경우도 마찬가지로 모델이 추론할 대상 Text를 Vector로 변환해야 한다.
    -   Text를 Vector 로 변환하는 작업은 Feature extractor가 담당한다. Feature extractor가 변환한 Feature vector가 Text vector가 된다.
    -   Feature extractor를 구현할 때 어떻게 하면 단순히 숫자로 변환하는 것이 아닌 **text의 의미를 잘 표현할 수있는 vector(숫자 집합)로 변환**할 지 다양한 연구가 되어왔다.

![nlp_text_to_vector_outline](figures/nlp_text_to_vector_outline.png)

## Word Representation

-   단어를 컴퓨터가 이해할 수 있는 값으로 변환하는 작업을 word representation 이라고 한다.
-   Text를 **NLP 모델이 잘 처리할 수 있도록** 단어 단위로 나눠서 **그 단어의 의미를 잘 표현할 수있는 숫자 집합** 으로 변환하는 방법을 말한다.

### Word Representation의 방법들

1. **Count-Based Word Representation**
    - 단어가 나오는 횟수(출연 빈도수) 기반 표현방식
    - Bag of word, TF-IDF
2. **Word Embedding**
    - 단어를 고정된 Vector로 표현한다. 고정됬다는 것은 문맥에 상관없이 같은 단어는 같은 값으로 표현한다.
    - Word2Vec, Fastext, Glove
3. **Contextualized Word Embedding**
    - 문맥을 고려한 Word Embedding 방식. 단어가 문맥에 따라 의미가 바뀌는 동적 Vector 표현방식이다.
    - ELMo, BERT, GPT2, RoBERTa

# Count-Based Word Representation

1. [One-Hot Encoding](#One-Hot-Encoding)
2. [Bag Of Words(BoW)](<#Bag-Of-Words(BoW)>)
    - DTM(Document Term Matrix)/TDM(Term Document Matrix)
    - TF-IDF

## One-Hot Encoding

-   One-Hot Encoding을 이용해 단어를 표현하는 방법.
    -   전체 vocabulary size 크기에 vector로 구성하며 각 index는 vocabulary를 구성하는 단어들을 의미한다. Value는 표현하는 단어는 1 나머지는 0으로 구성한다.
    -   보통 Word Embedding 모델의 입력으로 사용된다.

### 구현방법

1. 토큰화(Tokenization)
    - 문장을 최소단위(token)로 나눈다.
    - 토큰화는 모든 Embedding의 시작이다.
    - ex) `"나는 축구를 좋아합니다. 친구는 야구를 좋아합니다."`
2. Vocabulary(vocab - 어휘/단어 사전) 구성
    - Token - index 형식으로 구성한 어휘 사전을 만든다.
    - `['.', '나는', '야구를', '좋아합니다', '축구를', '친구는']`
3. Vocab을 이용해 각 token들을 one-hot encoding 처리한다.  
   ![ohe](figures/onehotvector.png)
4. 문장을 one-hot vector를 이용해 행렬로 구성한다.

-   ex) 나는 야구를 좋아합니다.

```
[
  [0, 1, 0, 0, 0, 0],   -- 나는
  [0, 0, 1, 0, 0, 0],   -- 야구를
  [0, 0, 0, 1, 0, 0]    -- 좋아합니다.
]
```

> ### 어휘 사전(단어 사전, vocaburay, vocab)
>
> -   사용할 모든 단어(토큰)들을 모아놓은 집합.
> -   보통 단어-정수index 쌍의 구조로 저장한다.

### One-Hot Encoding의 문제

1. 단어 수가 늘어날 수록 vector의 차원도 늘어난다.
2. 단어의 의미를 표현할 수없다. 그래서 단어 또는 문장의 유사도와 같이 의미를 알아야 하는 분야에서는 사용할 수없다.

## Bag Of Words(BoW)

-   **단어의 출현 빈도에만 집중해 단어를 표현**(word representation) 하는 방법으로 단어의 순서는 전혀 고려하지 않는다.
    -   **많이 나온 단어가 중요한 단어이다.**

### DTM/TDM

-   문서안에서 문서를 구성하는 단어들이 몇 번 나왔는지를 표현하는 행렬로 Vector화 한다.
-   행: 문서, 열: 단어 - DTM
-   행: 단어, 열: 문서 - TDM
-   Value: 개수

#### 구현방법

1. 어휘 사전(vocabulary) 생성
    - 모든 단어에 고유 정수 index를 부여
2. 문장을 embeddig 할 때 각 단어 index에 등장 횟수를 기록한다.

#### scikit-learn CountVectorizer 이용

-   빈도수 기반 Vector화 지원 Text 전처리 클래스
-   **주요 생성자 매개변수**
    -   stop_word :stopword 지정
        -   str: "english" - 자체 제공 불용어는 제공됨
        -   list: stopword 리스트
    -   max_df: 특정 횟수 이상나오는 것은 무시하도록 설정(무시할 횟수/비율 지정)
        -   int(횟수), float(비율)
    -   min_df: 특정 횟수 이하로 나오는 것은 무시하도록 설정(무시할 횟수/비율 지정)
    -   max_features: 최대 token 수
        -   빈도수가 높은 순서대로 정렬 후 지정한 max_features 개수만큼만 사용한다.
    -   ngram_range: n_gram 범위 지정
        -   n_gram:
        -   튜플 (범위 최소값, 범위 최대값)
        -   (1, 2) : 토큰화된 단어를 1개씩 그리고 순서대로 2개씩 묶어서 Feature를 추출
    -   tokenizer: 토큰화 처리 함수
-   **메소드/ 속성**
    -   fit(X)
        -   학습
        -   매개변수: raw document - 문장을 원소로 가지는 1차원 배열형태(list, ndarray)
        -   **Train(훈련) 데이터셋 으로 학습한다. Test 데이터셋은 Train 셋으로 학습한 CountVectorizer를 이용해 변환만 한다.**
    -   transform(X)
        -   DTM 변환
    -   fit_transform(X)
        -   학습/변환 한번에 처리
    -   vocabulary\_: 어휘 사전

> #### n-gram
>
> -   N 개의 단어(token)을 묶어서 하나의 토큰으로 처리하는 방식을 n-gram이라고 한다. (n은 몇개 토큰을 하나의 단위로 묶을지 개수)
>     -   uni-gram (n=1), bi-gram (n=2), tri-gram (n=3), 4개부터는 n-gram으로 표기(4-gram, 5-gram, ..)
>     -   Embedding이나 언어모델을 만들때 적용하는 기법이다.
> -   BoW에 n-gram을 적용하면 n개의 단어를 하나의 tokne으로 처리한다.
> -   언어모델에 n-gram을 적용하면 이전/이후 n 개의 단어를 이용해 다음 단어를 유추한다.
> -   n-gram의 문제
>     -   n이 너무 크면 희소성(출현 빈도가 낮아진다)의 문제가 발생한다.
>         -   `나는 어제 밥을 먹으러 식당에 가려다가 마음을 바꾸었다.` 이런 token이 전체 corpus에 얼마나 있을까?
>     -   n이 너무 작으면 단어간의 관계성이 표현이 안되는 문제가 발생한다.

In [1]:
text = ["나는 야구를 좋아합니다. 나는 축구를 좋아하지 않습니다.", 
        "친구는 야구와 축구를 좋아합니다. 야구보다 축구를 더 좋아합니다.", 
        "나는 축구를 더 좋아합니다. 영국 축구 리그보다 이탈리아 축구 리그를 더 좋아합니다.", 
        "나는 농구를 좋아하지 않습니다. 배구도 좋아하지 않습니다.", 
        "나는 액션영화를 좋아합니다.", 
        "어제 비빕밥을 먹었습니다."]

stop_words = list('은는이가을를도.,')
print(stop_words)

['은', '는', '이', '가', '을', '를', '도', '.', ',']

In [4]:
# 1. 토큰화 함수
from konlpy.tag import Okt
okt = Okt()
def tokenizer(sentence):
    return okt.morphs(sentence)

tokenizer("나는 어제 서울 대공원에 갔습니다.")

['나', '는', '어제', '서울', '대', '공원', '에', '갔습니다', '.']

In [48]:
import pandas
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(
    tokenizer=tokenizer,     # 변환할 문장을  토큰화하는 방식을 함수로 지정.
    token_pattern=None,   # tokenizer함수를 지정하지 않으면 사용할 token화하는 패턴을 지정
    stop_words=stop_words, # stop_words 리스트의 토큰은 vocab에서 제외(count하지 않는다.)
    # ngram_range=(2, 2), # (2, 2): bigram - 토큰을 2개씩 묶어서 Term으로 정의
    # ngram_range=(1, 2) # (1, 2): unigram, bigram 
)

# 학습
cv.fit(text) 
# 학습/변환 대상. 1차원 배열로 구성. 각 문서를 원소로 묶어준다. ["문서1", "문서2", ..]
# vocab(어휘사전 생성)
print(">>>>>어휘사전<<<<<")
print(cv.vocabulary_)  # {토큰:index}

# value기준 정렬

>>>>>어휘사전<<<<<
{'나': 0, '야구': 11, '좋아합니다': 17, '축구': 18, '좋아하지': 16, '않습니다': 9, '친구': 19, '와': 14, '보다': 7, '더': 2, '영국': 13, '리그': 3, '이탈리아': 15, '농구': 1, '배구': 6, '액션영화': 10, '어제': 12, '비빕': 8, '밥': 5, '먹었습니다': 4}

In [49]:
# dict(sorted(cv.vocabulary_.items()) )  # key 값 기준 정렬
dict(sorted(cv.vocabulary_.items(), key=lambda x : x[1]))  # value 기준 정렬
# x: 개별 원소 -> 함수가 출력하는 값 기준으로 정렬
# sorted(자료구조, key=함수) : 함수에 자료구조의 원소를 하나씩 전달. 함수가 반환하는 값 기준으로 정렬

{'나': 0,
 '농구': 1,
 '더': 2,
 '리그': 3,
 '먹었습니다': 4,
 '밥': 5,
 '배구': 6,
 '보다': 7,
 '비빕': 8,
 '않습니다': 9,
 '액션영화': 10,
 '야구': 11,
 '어제': 12,
 '영국': 13,
 '와': 14,
 '이탈리아': 15,
 '좋아하지': 16,
 '좋아합니다': 17,
 '축구': 18,
 '친구': 19}

In [50]:
# 문서들을 DTM 으로 변환.
### 각 문서를 토큰의 빈도수 기준으로 vector 화한다.
result = cv.transform(text)
print(result.shape)
result.toarray()

(6, 20)

array([[2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 1, 0, 0, 2, 2, 1],
       [1, 0, 2, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 2, 3, 0],
       [1, 1, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int64)

In [51]:
import pandas as pd
dtm = pd.DataFrame(
    result.toarray(), 
    columns=cv.get_feature_names_out(), 
    index=[f"문서{i+1}" for i in range(len(text))]
)
dtm

,나,농구,더,리그,먹었습니다,밥,배구,보다,비빕,않습니다,액션영화,야구,어제,영국,와,이탈리아,좋아하지,좋아합니다,축구,친구
문서1,2,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1,1,0
문서2,0,0,1,0,0,0,0,1,0,0,0,2,0,0,1,0,0,2,2,1
문서3,1,0,2,2,0,0,0,1,0,0,0,0,0,1,0,1,0,2,3,0
문서4,1,1,0,0,0,0,1,0,0,2,0,0,0,0,0,0,2,0,0,0
문서5,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
문서6,0,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0

In [52]:
tdm = dtm.T
tdm

       문서1  문서2  문서3  문서4  문서5  문서6
나        2    0    1    1    1    0
농구       0    0    0    1    0    0
더        0    1    2    0    0    0
리그       0    0    2    0    0    0
먹었습니다    0    0    0    0    0    1
밥        0    0    0    0    0    1
배구       0    0    0    1    0    0
보다       0    1    1    0    0    0
비빕       0    0    0    0    0    1
않습니다     1    0    0    2    0    0
액션영화     0    0    0    0    1    0
야구       1    2    0    0    0    0
어제       0    0    0    0    0    1
영국       0    0    1    0    0    0
와        0    1    0    0    0    0
이탈리아     0    0    1    0    0    0
좋아하지     1    0    0    2    0    0
좋아합니다    1    2    2    0    1    0
축구       1    2    3    0    0    0
친구       0    1    0    0    0    0

### TF-IDF (Term Frequency - Inverse Document Frequency)

-   개별 문서에 많이 나오는 단어가 높은 값을 가지도록 하되 동시에 여러 문서에 자주 나오는 단어에는 페널티를 주는 방식
-   어떤 문서에 특정 단어가 많이 나오면 그 단어는 해당 문서를 설명하는 중요한 단어일 수 있다. 그러나 그 단어가 다른 문서에도 많이 나온다면 언어 특성이나 주제상 많이 사용되는 단어 일 수 있다.
-   각 문서의 길이가 길고 문서개수가 많은 경우 Count 방식 보다 TF-IDF 방식이 더 좋은 예측 성능을 내는 경우가 많다.

#### 구현방법

-   TF (Term Frequency) 정의: 해당 단어가 **해당 문서에** 몇번 나오는지를 나타내는 지표
-   DF (Document Frequency) 정의: 해당 단어가 **몇개의 문서에** 나오는지를 나타내는 지표
-   IDF (Inverse Document Frequency) 정의: DF에 역수로 $\cfrac{\text{전체 문서수}}{\text{해당 단어가 나오는 문서수}}$
-   TF-IDF 정의: $TF * \left(\log \cfrac{\text{전체 문서수}}{\text{해당 단어가 나오는 문서수}} \right)$
    -   log는 전체 문서의 수가 많으면 값의 단위가 너무 커지므로 log를 취한다.
    -   scikit-learn의 경우 분모가 0이면 Exception이 발생하기 때문에 **분모에 1을 더하고** $\log(0)$도 계산이 안되므로 **분자에도 1을 더했으며** 그 계산 결과에 **1을 더하여 계산**함.
        -   $TF * \left(\log \cfrac{\text{전체 문서수 + 1}}{\text{해당 단어가 나오는 문서수 + 1}} + 1\right)$

#### scikit-learn TfidfVectorizer 이용

-   TF-IDF 기반 텍스트 벡터화 전처리 클래스

#### 주요 생성자 매개변수

-   stop_word :stopword 지정
    -   str: "english" - 영문 불용어는 제공됨
    -   list: stopword 리스트
-   max_df: 특정 횟수 이상나오는 것은 무시하도록 설정(무시할 횟수/비율 지정)
    -   int(횟수), float(비율)
-   min_df: 특정 횟수 이하로 나오는 것은 무시하도록 설정(무시할 횟수/비율 지정)
-   max_features: 최대 token 수
    -   빈도수가 높은 순서대로 정렬 후 지정한 max_features 개수만큼만 사용한다.
-   ngram_range: n_gram 범위 지정
    -   n_gram:
    -   튜플 (범위 최소값, 범위 최대값)
    -   (1, 2) : 토큰화된 단어를 1개씩 그리고 순서대로 2개씩 묶어서 Feature를 추출
-   tokenizer: 토큰화 처리 함수

#### 메소드/Attribute

-   fit(X)
    -   학습
    -   매개변수: 문장을 가진 1차원 배열형태(list, ndarray)
    -   **Train(훈련)+Test(테스트) 데이터셋 으로 학습한다.**
-   transform(X)
    -   DTM 변환
-   fit_transform(X)
    -   학습/변환 한번에 처리
-   vocabulary\_: 어휘 사전

In [42]:
import warnings
# 실행시 경고(Warning) 메세지를 무시하고 출력하지 않음. 코드 제일 처음 작성.
warnings.filterwarnings(action='ignore')  

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    tokenizer=tokenizer, 
    # token_pattern=None,
    stop_words=stop_words
)
tfidf.fit(text)
print(">>>>vocab<<<<<")
tfidf.vocabulary_

>>>>vocab<<<<<

{'나': 0,
 '야구': 11,
 '좋아합니다': 17,
 '축구': 18,
 '좋아하지': 16,
 '않습니다': 9,
 '친구': 19,
 '와': 14,
 '보다': 7,
 '더': 2,
 '영국': 13,
 '리그': 3,
 '이탈리아': 15,
 '농구': 1,
 '배구': 6,
 '액션영화': 10,
 '어제': 12,
 '비빕': 8,
 '밥': 5,
 '먹었습니다': 4}

In [44]:
result_tfidf = tfidf.transform(text)
result_tfidf.toarray()

array([[0.5751165 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.39746859,
        0.        , 0.39746859, 0.        , 0.        , 0.        ,
        0.        , 0.39746859, 0.28755825, 0.3355703 , 0.        ],
       [0.        , 0.        , 0.26803647, 0.        , 0.        ,
        0.        , 0.        , 0.26803647, 0.        , 0.        ,
        0.        , 0.53607294, 0.        , 0.        , 0.32686804,
        0.        , 0.        , 0.38783491, 0.45258961, 0.32686804],
       [0.15100215, 0.        , 0.41743621, 0.50905967, 0.        ,
        0.        , 0.        , 0.20871811, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.25452983, 0.        ,
        0.25452983, 0.        , 0.3020043 , 0.5286425 , 0.        ],
       [0.21336193, 0.35964373, 0.        , 0.        , 0.        ,
        0.        , 0.35964373, 0.        , 0.        , 0.58982601,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.58982601, 0.        , 0.        , 0.        ],
       [0.45448626, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.76608386, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.45448626, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.5       ,
        0.5       , 0.        , 0.        , 0.5       , 0.        ,
        0.        , 0.        , 0.5       , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ]])

In [54]:
tfidf_df = pd.DataFrame(
    result_tfidf.toarray(), 
    columns=tfidf.get_feature_names_out(),
    index=[f"문서{i+1}" for i in range(len(text))]
)
tfidf_df

,나,농구,더,리그,먹었습니다,밥,배구,보다,비빕,않습니다,액션영화,야구,어제,영국,와,이탈리아,좋아하지,좋아합니다,축구,친구
문서1,0.575116,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.0,0.397469,0.000000,0.397469,0.0,0.00000,0.000000,0.00000,0.397469,0.287558,0.335570,0.000000
문서2,0.000000,0.000000,0.268036,0.00000,0.0,0.0,0.000000,0.268036,0.0,0.000000,0.000000,0.536073,0.0,0.00000,0.326868,0.00000,0.000000,0.387835,0.452590,0.326868
문서3,0.151002,0.000000,0.417436,0.50906,0.0,0.0,0.000000,0.208718,0.0,0.000000,0.000000,0.000000,0.0,0.25453,0.000000,0.25453,0.000000,0.302004,0.528642,0.000000
문서4,0.213362,0.359644,0.000000,0.00000,0.0,0.0,0.359644,0.000000,0.0,0.589826,0.000000,0.000000,0.0,0.00000,0.000000,0.00000,0.589826,0.000000,0.000000,0.000000
문서5,0.454486,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.766084,0.000000,0.0,0.00000,0.000000,0.00000,0.000000,0.454486,0.000000,0.000000
문서6,0.000000,0.000000,0.000000,0.00000,0.5,0.5,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.5,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000

In [53]:
dtm

,나,농구,더,리그,먹었습니다,밥,배구,보다,비빕,않습니다,액션영화,야구,어제,영국,와,이탈리아,좋아하지,좋아합니다,축구,친구
문서1,2,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1,1,0
문서2,0,0,1,0,0,0,0,1,0,0,0,2,0,0,1,0,0,2,2,1
문서3,1,0,2,2,0,0,0,1,0,0,0,0,0,1,0,1,0,2,3,0
문서4,1,1,0,0,0,0,1,0,0,2,0,0,0,0,0,0,2,0,0,0
문서5,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
문서6,0,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0